* {
  margin: 0;
  padding: 0;
}
div {
  height: 150px;
}
.left {
  float: left;
  background: orange;
  width: 100px;
}
.right {
  float: right;
  background: blue;
  width: 100px;
}
.middle {
  background: yellow;
}
